<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="paymentCtrl"> 

<ul>
  <li ng-repeat="x in paymentOptions">
    {{ x.name + ', ' + x.description}}
  </li>
</ul>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('paymentCtrl', function($scope, $http) {
  $http.get("http://localhost:3000/payment/getAll")
  .then(function (response) {$scope.paymentOptions = response.data;});
});
</script>

</body>
</html>
